#mainTopic {
    font-size: 50px;
    color: #0000ff;
}

*{
    text-align:center;
}
h1,h3,h5{
    font-style: Georgia;
}
.line{
    color : white;
    background-color: cornflowerblue;
}
div > button {
    background-color: purple;
    color: azure;;
}

input[type="checkbox"] {
    accent-color: red;
}
    
label{
    color: green;
}
button:hover{
    background-color: yellow;
    color:blue;

}
p:nth-of-type(2n+1) {
    color: yellow;
}
h1::first-letter {
    color:red;
}

input[type="checkbox"]:checked + label {
    color: rgb(197, 15, 15);
}

