[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Soumen Mandal
	email = soumenmandal1080@gmail.com
[core]
	editor = code --wait
	autocrlf = input
