#main{
height: 150px;
width: 400px;
background-color: grey;
border:5px , black,dotted border;
margin-top: 20px;
margin-right:1em;
margin-bottom: 40px;
margin-left: 2em;
padding: 1em;
}
.box{
height: 100px;
width: 100px;
background-color:pink;
border:2px solid black;
display: inline-block;
margin: 10px;
margin-top: 25px;
margin-left: 13px;
}

li{
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}